# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Dart/Pub related
/doc/api/
.cookies/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock
